---
layout: archive
title: "Research Associate Hiring"
permalink: /talks/
author_profile: true
---

I am hiring a full-time Pre-Doctoral Research Data Analyst Associate in the Department of Economics at Northwestern University to begin in July 2024. 

The Research Associate will be involved in all aspects of policy-oriented and data-intensive research on labor markets and market power in developing countries. Responsibilities will include collecting and analyzing large administrative datasets, designing and implementing randomized controlled trials, and conducting background research and literature reviews. There may also be opportunities for field travel to India. 
The RA will work on projects that closely combine theory and data, with opportunities to be involved in both. Sample questions I study include:

1.	The causes and consequences of gender gaps in the labor market (for example, the effect of maternity leave policies on women’s careers)
2.	The consequences of and remedies for imperfect competition in various markets (for example, collusion among employers, and interventions introducing competition among agricultural traders)

The position does *not* require a background in economics. I strongly encourage candidates with strong technical skills and an interest in economics to apply.

The position is ideally suited for candidates who plan to apply to PhD programs in economics or another field. The ideal candidate will demonstrate boundless enthusiasm for empirical research including handling and analyzing large data sets, strong coding skills, and the ability to independently solve challenging problems.

Coding proficiency is required. Experience in Stata is valued; familiarity with Python, R, and web scraping is a plus. 

The Pre-Doctoral Research Assistants are fully integrated into the research community at the Global Poverty Research Lab at Northwestern. Previous research associates at the lab have placed into several economics PhD programs including at Harvard, UC Berkeley, and the University of Chicago, among others.

I will review applications on a rolling basis until the position is filled. 

To apply, please email a resume, the names of two references, and a cover letter describing your experience and interest in the position to Garima Sharma at garimasharma@princeton.edu.


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
